html,body{
    margin: 0;
    padding: 0;
}
*, :after, :before {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

.pop .pop-form .pop-input .pop-btn .btn .video .video-container 
.btn-left .btn-right .border-bottom .commentBox .comment .contentText 
.border-bottom .textBox .text .gradient .commentText .footer 
.btn-footer .btn-footer-right .footerBottom .footer-btn .reply 
.reply-comment .piramida .commentContent .enter .delete{
    zoom:1;
}
.pop .pop-form .pop-input .pop-btn .btn .video .video-container 
.btn-left .btn-right .border-bottom .commentBox .comment .contentText
.border-bottom .textBox .text .gradient .commentText .footer
.btn-footer .btn-footer-right .footerBottom .footer-btn .reply 
.reply-comment .piramida .commentContent .enter .delete {
    content: "";
    clear: both;
    display: block;
}

img{
    max-width: 100%;
}

body{
    width: 61%;
    margin: auto;
    font-size:16px;
    background-color: rgb(35,35,36);
}
#app{
    max-width: 867px;
    max-height: 985px;
}
.backgroundApp {
    max-width: 100%;
    max-height: auto;
    position: absolute;
    margin:50px 0 50px 0;
    background-color: white;
    border-radius: 5px;
}


a.close-icon {
    color:red;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
    border: 1px solid #AEAEAE;
    border-radius: 20px;
    background: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    float: right;
    line-height: 0px;
    padding: 10px 5px;       
}

.close-icon:before {
    content: "×";
}
a.close-icon:hover{
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
}

li img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.pop{
    position: absolute;
    width: 350px;
    height: 200px;
    top: 110px;
    left:35%;
    background-color: white;
    border:1px solid #e6e6e6;
    border-radius: 5px; 
}
.pop-form{
    position: relative;
    top: 80px;
    left: 70px;
}

.pop-input{
    padding: 2px 15px 2px 15px;
}

.pop-btn{
    position: relative;
    left: 153px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    text-transform: uppercase;
    background: black;
    color: white;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 100;
}
.pop-btn:hover{
    cursor: pointer;
    opacity: 0.5;
}

.video{
    position: relative;
    width: 93%;
    height: 412px;
    margin: 31px 29px 0 32px;
}
.video-container {
	position:relative;
	height:0;
    margin: 31px 29px 0 32px;
    width: 806px;
    height: 412px;
}

.video-container iframe, .video-container object, 
.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.btn{
    position:relative;
    width: 100%;
}
.btn-left{
    position: absolute;
    top: 3px;
}
.btn ul{
    display: -webkit-inline-box;
    list-style: none;
}
.btn-left li{
    padding-right: 29px;
    margin-left: -7px;
}
.btn-right{
    position: absolute;
    top:-4px;
    right:2.6%;
}
.btn-right li{
    padding:0 6px 10px 0;
}

.border-bottom{
    position: relative;
    width: 104.3%;
    margin: 36px 31px 25px -32px;
    border-bottom: 1px solid #e6e6e6;
}
.commentBox{
    position: relative;
    margin: 63px 31px 0 32px;
}

.comment{
    font-family: Myriad Pro Regular;
    font-style: italic;
    color: #192a3e;
    font-size: 16pt;
    width: 100.25%;
    padding: 12.5px;
    padding-left: 17px;
    display: inline-block;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
}

 .enter{
    float: right;
    margin: -55px -2px 0 0;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    background: black;
    color: white;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 100;
 }
 .enter:hover{
    opacity: 0.5;
    cursor: pointer;
}
 .delete{
    position: absolute;
    float: right;
    right: -26px;
    top:35px;
    padding: 5px 10px 5px 10px;
    margin: 32px -7px 0 0;
    text-transform: uppercase;
    background: red;
    color: white;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 100;
 }
 .delete:hover{
    opacity: 0.5;
    cursor: pointer;
}


.textBox{
    position: relative;
    padding:21px 31px 0 0;
    margin-left: -18px;
}

.text{
   position: relative;
   top: -47px;
   margin-left:67px;
   line-height: 0%;
}
.gradient{
    position: relative;
    margin: -18px 0 0 1px;
}
.commentText{
    width: 91.2%;
    position:relative;
    top: -44px;
    margin:-187px 0 0 30px;
}

.footer{
    display: block;
    position:relative;
    margin-left: -3px;
    top:-69px;
}
.btn-footer{
    position: relative;
    top:88px;
}
.btn-footer ul{
    margin-left: -8px;
}

.btn-footer li{
    padding: 0 22px 10px 0;
    
}
.btn-footer li:nth-child(3){
    padding-left: 2px;
}

.btn-footer ul{
    display: -webkit-inline-box;
    list-style: none;
}
 .btn-footer-right {
    position: relative;
    list-style: none;
    top: 40px;
    left:96%;
 }

.footerBottom{
    position: relative;
    top:53px;
    margin-left: 6px;
    border-bottom: 1px solid #e6e6e6;
    width: 103.6%;
}

.footer-btn{
    position:relative;
    margin-left: 1px;
    top:48px;
}

.footer-btn li{
    display: inline;
    padding: 0 32px 10px 0;
    margin-left: -8px;
}

.footer-btn li:last-child{
    padding-left: 1px;
}
.reply{
    position: relative;
    margin: 0 31px 0 32px;
    top: 40px;
}

.reply-comment{
    font-family: ProximaNova Regular,Myriad Pro Regular;
    font-style: italic;
    color: #8e9197;
    width: 108.8%;
    font-size: 18pt;
    padding: 12.5px;
    padding-left: 20px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
}

.piramida{
    position: absolute;
    left:24px;
    top:-4px;
}

.commentContent {
    font-family: Myriad Pro Regular;
    color: #192a3e;
    font-size: 13pt;
    height: 40px;
    padding:0 0 0 20px;
    display: inline-block;
    box-sizing: border-box;
    width: 91.2%;
    position:relative;
    top: 50px;
    margin-left:-56px; 
}

.footer-enter{
    float: right;
    margin: 5px -64px 0 0;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    background: black;
    color: white;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 100;
}
.footer-enter:hover{
    opacity: 0.5;
    cursor: pointer;
}

.footer-delete{
    position: absolute;
    float: right;
    right: 5px;
    top:120px;
    padding: 5px 10px 5px 10px;
    margin: 10px -69px 0 0;
    text-transform: uppercase;
    background: red;
    color: white;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 100;
}

.footer-delete:hover{
    opacity: 0.5;
    cursor: pointer;
}